<div class="card mb-3 shadow " id='rcorners-main'>
  <div class="card-body">
    <h5 class="card-title text-center">YouTube</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://www.youtube.com/channel/UCiVt4Mcnog4KBEOALesuu1g" id='rcorners-sub' class="btn btn-warning btn-lg active container" role="button" aria-pressed="true" target="_blank">YouTube</a>
  </div>
</div>

<div class="card mb-3 shadow " id='rcorners-main'>
  <div class="card-body">
    <h5 class="card-title text-center">GitHub</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://github.com/TraitOtaku" id='rcorners-sub' class="btn btn-dark btn-lg active container" role="button" aria-pressed="true" target="_blank">GitHub</a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

